name: Build and run tests

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build_ubuntu:

    name: Test on Ubuntu
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        lfs: true

    - name: Update Rust
      run: rustup update

    - name: Build
      run: |
        cargo build --verbose
    - name: Run tests
      run: |
        cargo test --verbose
    - name: Build (--release)
      run: |
        cargo build --release --verbose
    - name: Run tests (--release)
      run: |
        cargo test --release --verbose

  build_windows:

    name: Test on Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Update Rust
        run: rustup update
        shell: pwsh

      - name: Build
        run: |
          cargo build --verbose
        shell: cmd
      - name: Run tests
        run: |
          cargo test --verbose
        shell: cmd

      - name: Build (--release)
        run: |
          cargo build --release --verbose
        shell: cmd
      - name: Run tests (--release)
        run: |
          cargo test --release --verbose
        shell: cmd
